%html
  %head
    %title /\Spacies/\
    %link{:href => '/css/application.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body  
    %h1 
      %a{:href => '/'} /\Spacies/\
    =yield
  
