%html
  %head
    %title /\Spacies/\
    %link{:href => '/css/application.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => '/js/jquery.js', :type => "text/javascript"}
    %script{:src => '/js/jquery.collision.js', :type => "text/javascript"}
    %script{:src => '/js/spacies.js', :type => "text/javascript"}
  %body  
    %h1 
      %a{:href => '/'} /\Spacies/\
    =yield
  
