#space
  #invaders
    - (0..3).each do |i|
      .invader{:style => "top:#{i * 50}px"}
      - (0..4).each do |y|
        .invader{:style => "left:#{y*50} ;top:#{i * 50}px"}
  %canvas{:id => "aircraft", :width=>"100px", :height => "60px"}
