h1, ul, li  {
  text-align: center;
}

body {
background: black;
font-family: "Trebuchet"
}

h1 {
  color: #CCFF00;
}


ul li {
  list-style-type: none;
}

#space {
  border: 1px solid black;
  background: #000;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

#invaders{
  position: absolute;
  width: 300px;
  height: 200px;
  left: 10px;
}

#aircraft {
  position: absolute;
  left: 600px;
  top: 600px;
}

.invaderBullet {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 10px;
  border: 1px solid white;
}

.bullet {
  position: absolute;
  top: 580px;
  left: 300px;
  height: 10px;
  width: 10px;
  border: 1px solid pink;
}

.invader {
  position: absolute;
  left: 0;
  top: 200px;
  width: 40px;
  height: 40px;
  background: yellow;
}
