h1, ul, li  {
  text-align: center;
}

a{
  text-decoration-none;
}
body {
  background: black;
  font-family: “Trebuchet MS”, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
}
h1 a {
  text-decoration: none;
  color: #CCFF00;
}

h2,h3  {
  font-size: 30px;
  text-align: center;
}

h2 a, h3 a {
  text-decoration: none;
  color: white;
}


ul li {
  list-style-type: none;
}


#space {
  border: 1px solid black;
  background: #000;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

#invaders{
  position: absolute;
  width: 300px;
  height: 200px;
  left: 10px;
}

#aircraft {
  position: absolute;
  left: 600px;
  top: 550px;
}

.invaderBullet {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 10px;
  border: 1px solid red;
}

.bullet {
  position: absolute;
  top: 580px;
  left: 300px;
  height: 10px;
  width: 10px;
  border: 1px solid #e325cc;
}

.invader {
  position: absolute;
  left: 0;
  top: 200px;
  width: 40px;
  height: 40px;
  background: yellow;
}


#score {
  position: absolute;
  top: 10px;
  left: 900px;
  width: 120px;
  height: 40px;
  color: #e325cc;
  font-size: 18px;
}

#score_label {
  float: left;
}

#score_val {
  float: right;
  color: #ccff00;
}
